<% include ./partials/header.ejs %>
<!-- Harpreet Singh 
300966988
Assignment1 -->
<!-- Content for home page -->

<div class="container-fluid">
  <div class="row" style="text-align:center">
    <div class="col-md-12">
      <h1>Mission Statement</h1>
    </div>
  </div>
    <div class="row" style="text-align:center">
      <div class="col-md-12">
        <p><b>I am a software developer with an aim to be the best at what i do.</b></p>
        <p><b>I want to develop application to help people embrace with technology and enhance quality of life.</b></p>
      </div>
    </div>
    <div class="wrapper">
        <a href="/about" class="btn btn-primary">About me</a>
    </div>
      
  </div>
</div>

<% include ./partials/footer.ejs %>