<% include ./partials/header.ejs %>
<!-- Harpreet Singh 
300966988
Assignment1 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p>The projects I have worked on are listed below</p>
            <div class="row">
                <p>1.<b>An Android Application</b></p>
            </div>
            <div class="row" style="background-color:#bbb">
                <div class="col-md-4">
                    <img src="/public/Assets/002.jpg" alt="" style="height:200px;width:200px">
                </div>
                <div class="col-md-8">
                    <p>An android application that performs following functionalities:</p>
                    <li>Selling</li>
                    <li>Buying</li>
                    <li>Search for Items</li>
                    <li>Database managed through MySQLite</li>
                </div>
            </div>
            <div class="row">
                    <p>2.</p><p><b> A Web API</b></p>
            </div>
            <div class="row" style="background-color:#ccc">
                <div class="col-md-4">
                    <img src="/public/Assets/image001.png" alt="" style="height: 200px;width:200px">
                </div>
                <div class="col-md-8">
                    <p>A Web API that was developed with ASP.NET Core Framework.</p>
                    <p>The API used AWS RDS Database.</p>
                    <p>The API was hosted on AWS Elastic Beanstalk</p>
                    <p>We also used Apigee for cloud hosting</p>
                </div>
            </div>
            <div class="row">
                <p>3.<b>Inventory Management Application</b></p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/public/Assets/online_do_it_your_way_image_1.png" alt="" style="height:200px;width:200px">
                </div>
                <div class="col-md-8">
                    <p>An Inventory mangement system that keeps stock of current products in inventory.</p>
                    <p>Process orders for products delivery</p>
                    <p>Implement tracking functionality.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ./partials/footer.ejs %>