<% include ./partials/header.ejs %>
<!-- Harpreet Singh 
300966988
Assignment1 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p><b>I can work in following technologies:</b></p>
            <ol>
                <li class="list-item">
                    <b>ASP.NET </b></li>
                <li class="list-item">
                        <b>Java </b> </li>
                <li class="list-item">
                        <b>PHP </b> </li>
                <li class="list-item">
                        <b>C++ </b></li>
                <li class="list-item">
                        <b>Android </b> </li>
                <li class="list-item">
                        <b>Data Mining </b> </li>

            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="https://www.java.com/">
            <img src="/public/Assets/java.png" />
            </a>
        </div>
        <div class="col-md-3">
            <a href="https://www.asp.net/">
            <img src="/public/Assets/asp.jpg" />
        </a>
        </div>
        <div class="col-md-3">
            <a href="http://www.cplusplus.com/doc/tutorial/">
            <img src="/public/Assets/c++.png" />
        </a>
        </div>
        <div class="col-md-3">
            <a href="https://www.android.com/">
            <img src="/public/Assets/android.png"/>
        </a>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>