<% include ../partials/header.ejs %>
<!-- Harpreet Singh 
300966988
Assignment1 -->

<div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <h1>About Me</h1>
                <h2>Harpreet Singh</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="/public/Assets/IMG_2739.jpg" alt="hhh" style="height:300px;width:300px">
            </div>
            <div class="col-md-6" style="background-color:#ddd">
                <h1>Brief Introduction</h1>
                <p>I am a student at Centennial College doing Advanced Diploma in Software Engineering Technology.</p>
                <p>I have graduated with Bachelor's degree in Computer Application.</p>
                <p>My key technical skills include.</p>
                <li>Programming with C++,C#,ASP.NET,PHP</li>
                <li>Database Management with SQL Server.</li>
                <li>Computer Networks</li>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <h1>Click below to view my Resume</h1>
                    <a href="/public/Assets/Resume Harpreet.pdf" class="btn btn-primary">Resume</a>
    </div>
<% include ../partials/footer.ejs %>